auditplan: ["operatorinstall"]
# For a specific set of packages, set here
# packages: ['operator-certification-operator']
# To run an entire catalog, set package to empty
packages: []
allinstallmodes: false
extracrdirectory: ""
detailedreports: false
catalog_source: certified-operators
catalog_source_namespace: openshift-marketplace
cleanup: true
# To run operator tests on FIPS enabled clusters
#  1. list only packages that have corresponding tests on packages var
#  2. uncomment and set fips_assessment to true below
# fips_assessment: true
install_operands: false
