# For FIPS assessements
packages:
  - name: 3scale-operator
    catalog_source: redhat-operators
    catalog_source_namespace: openshift-marketplace
    role_name_override: threescale_operator
  - name: advanced-cluster-management
    catalog_source: redhat-operators
    catalog_source_namespace: openshift-marketplace
  - name: amq-streams
    catalog_source: redhat-operators
    catalog_source_namespace: openshift-marketplace
  - name: ansible-automation-platform-operator
    catalog_source: redhat-operators
    catalog_source_namespace: openshift-marketplace
  - name: datagrid
    catalog_source: redhat-operators
    catalog_source_namespace: openshift-marketplace
  - name: devspaces
    catalog_source: redhat-operators
    catalog_source_namespace: openshift-marketplace
  - name: eap
    catalog_source: redhat-operators
    catalog_source_namespace: openshift-marketplace
  - name: openshift-gitops-operator
    catalog_source: redhat-operators
    catalog_source_namespace: openshift-marketplace
  - name: openshift-pipelines-operator-rh
    catalog_source: redhat-operators
    catalog_source_namespace: openshift-marketplace
  - name: rhacs-operator
    catalog_source: redhat-operators
    catalog_source_namespace: openshift-marketplace
  - name: rhsso-operator
    catalog_source: redhat-operators
    catalog_source_namespace: openshift-marketplace
  - name: serverless-operator
    catalog_source: redhat-operators
    catalog_source_namespace: openshift-marketplace
cleanup: true
