apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: {{ [channel.name, manifest_data.packageName, install_mode | lower, "subscription"] | join('-') }}
  namespace: {{ install_namespace }}
spec:
  {{ "targetNamespaces:" if install_mode != "AllNamespaces" }}
  {{+ "  - %s" % target_namespace if install_mode == "SingleNamespace" or install_mode == "MultiNamespace" }}
  {{+ "  - %s" % install_namespace if install_mode == "OwnNamespace" }}
  upgradeStrategy: Default
