apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: {{ [channel.name, manifest_data.packageName, install_mode | lower, "subscription"] | join('-') }}
  namespace: {{ operator_namespace }}
spec:
  name: {{ manifest_data.packageName }}
  source: {{ catalog_source }}
  sourceNamespace: {{ catalog_source_namespace }}
  channel: {{ channel.name }}
  installPlanApproval: Automatic
