apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: {{ [package_manifest.name, package_name, operator_install_mode | lower, "subscription"] | join('-') }}
  namespace: {{ operator_install_namespace }}
spec:
  name: {{ package_name }}
  source: {{ catalog_source }}
  sourceNamespace: {{ catalog_source_namespace }}
  channel: {{ package_manifest.name }}
  installPlanApproval: Automatic
